@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
  height: auto;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
  color: #fff;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  background: url("../assets/page-bg.png") no-repeat center center/cover;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.animated {
  font-family: "Charm", cursive;
  padding: 0;
  font-size: 3rem;
  background: url("../assets/text-bg.png") no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: moveBg 90s linear infinite;
  -webkit-animation: moveBg 90s linear infinite;
}

/* Text Background Animation */
@keyframes moveBg {
  0% {
    background-position: 0% 30%;
  }

  100% {
    background-position: 100% 50%;
  }
}
