@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  color: #fff;
  font-family: "Roboto", sans-serif;
  overflow: auto;
}
h2 {
  font-size: 45px;
  font-weight: 300;
  margin: 10px;
}
h2 span {
  font-size: 30px;
}
p {
  font-size: 20px;
}
/* grids */
.container ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.container > ul li {
  height: 210px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  transition: all 0.5s ease-in;
}
.container > ul li:hover {
  opacity: 0.7;
  transform: scale(0.98);
}

.container > ul li:nth-of-type(1) {
  grid-column: 1/3;
}

.container > ul li:nth-of-type(6) {
  grid-column: 3/5;
}

.container > ul li:nth-of-type(9) {
  grid-column: 3/5;
}
.container > ul li:nth-of-type(10) {
  grid-column: 1/3;
}
/* images */
.bg1 {
  background: url("../project-assets/bg1.jpg");
}
.bg2 {
  background: url("../project-assets/bg2.jpg");
  color: #333;
}

/* media query */
@media (max-width: 600px) {
  .container ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
